@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* ✅ body 스크롤 방지 */
  background-color: #ffffff;
}

#__next, #root {
  @apply flex justify-center items-center h-full;
}

@supports (height: 100dvh) {
  .h-\[100dvh\] {
    height: 100dvh;
  }
}